<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción - {{ empresa }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='EstiloEmpresas.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script src="{{ url_for('static', filename='predicciones.js') }}" defer></script>
    <script>
        const empresa = "{{ empresa }}";  // ahora JS conoce el nombre de la empresa
    </script>

</head>
<body>

    <!-- HEADER PRINCIPAL -->
    <header class="main-header-style1">
        <img src="{{ url_for('static', filename='/img/logoe.png') }}" alt="Logo de ExploraChia" class="header-logo-style1">
        <span class="header-title-style1">ExploraChía</span>

        <div class="header-buttons-style1">
        <a href="/Chia/Acercade" class="header-btn-style1">Acerca de este proyecto</a>
        <a href="/" class="header-btn-style1">Catalogos Explora Chía</a>
        </div>
    </header>

    <header class="main-header-style1">
        <img src="{{ url_for('static', filename='logoe.png') }}" class="header-logo-style1">
        <div class="header-title-style1">Predicción de Visitas</div>
    </header>

    <h1>Predicción de visitas para {{ empresa }}</h1>
    <img src="{{ imagen_url }}" alt="Gráfico de visitas">

    <div id="detalle-visitas" style="margin-top: 30px;">
        <!-- Aquí se mostrará el detalle del día -->
    </div>
</body>
</html>
