body {
    margin:0;
    font-family: Arial, sans-serif;
}

/* HEADER PRINCIPAL */
.main-header-style1 {
    background-color: #4c98af;
    color: white;
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
}

.header-logo-style1 {
    height: 40px;
    margin-right: 15px;
}

.header-title-style1 {
    font-size: 24px;
    font-weight: bold;
}

.header-buttons {
    margin-left: auto; /* Empuja los botones a la derecha */
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.header-btn {
    text-decoration: none;
    background-color: white;
    color: #4c98af;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    height: 30px;
    align-self: center;
    transition: background-color 0.3s;
}

.header-btn:hover {
    background-color: #e0f0f7;
}

/* INTRODUCCIÓN */
.intro-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 80px 10px;
    background-color: #d1f2f8;
    flex-wrap: wrap;
    
}

.logo-horizontal,
.intro-image {
    height: 250px; 
    object-fit: contain;
}

.intro-text {
    max-width: 400px;
    text-align: left;
    font-size: 18px;
    line-height: 1.6;
}

.intro-text h2 {
    font-size: 30px;
    margin-bottom: 12px;
    color: #2e7d32;
}

.intro-image {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}